/*=================================*/
/* Main Styles
/*=================================*/

html, body, div, span, p, a, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ul { list-style: none; } , table { border-collapse: collapse; border-spacing: 0; }

img {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 0;
    transform: translateY(-50%);
    height: 6em;
}

* { box-sizing: border-box; }
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent;
}
body {
    background: #FFFFFF;
    color: #2c2c2c;
    font-family: 'quicksand', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.65;
    opacity: 0;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in 0.1s;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}
body.loaded,
.no-js body {
    opacity: 1;
}
span.loaded, div.loaded { opacity: 1 !important; }
a, a:visited {
    color: #FFFFFF80;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}
/* a:hover, a:active {
    color: #4ab19a;
    text-decoration: none;
} */
p,li {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 0 20px;
}

.cover p {
    font-size: 5vh;
    max-width: 50vw;
    min-width: 200px;
    padding: 0 20vw 0 20vw;
    vertical-align: middle;
    text-align: left;
    display: table-cell;
    word-wrap: break-word;
}

#particles {
    position: absolute;
    z-index: 10;
    width: 100vw;
    min-width: 375px;
    height: 100vh;
    top: 0;
    left: 0;
}

.disable-scrolling {
  height: 100%;
  overflow: hidden;
}

#connect {
    color: white;
    font-size: 21px;
}

#main {
    opacity: 0;
    z-index: 50;
    display: table-cell;
    font-size: 6vh;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    transition: opacity 0.50s ease-in 0.2s;    
}

#uoft {
	background-color: rgb(0, 42, 93);
  	color: white;
}

#shopify {
    background-color: #96bf48;    
    color: white;
}

#teaching-assistant {
    background-color: #03A9F4;    
    color: white;
}

#loblaw-digital {
    background-color: black;
    color: white;
}

#td {
    background-color: rgb(0, 182, 37);
    color: white;
}

#contact {
    color: white;
    background-color: #000000;
}

#contactIcons {
    position: absolute;
    display: inline-block;
    float: left;
    height: 4vh;
    top: 60vh;
    left: 20vw;
    font-size: 30px;
}

#contactIcons a {
		margin-right: 5vw;
}

u {
	background: rgba(255, 255, 255, 0.1);
	text-decoration: none;
}

.cover {
    position: relative;
    display: table;
    width: 100vw;
    min-width: 375px;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: auto;
    text-align: center;
}

.arrow-nav {
    position: absolute;
    bottom: 5vh;
    right: 9vh;
    width: 18px;
    font-size: 5vh;
    cursor: pointer;
}

/*===== Titles =====*/
.site-title {
	font-family: 'Francois One', sans-serif;
    font-size: 26px;
    color: #90D4C5;
    line-height: 1.5em;
    position: fixed;
    z-index: 999;
    letter-spacing: 4px;
    margin-bottom: 120px;
    left: 20px;
    top: 40px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.site-title a {
    position: fixed;
}
.site-title a,
.site-title a:visited { color: #FFFFFF80; }
/* .site-title a:hover,
.site-title a:active {
    color: #90D4C5;
    opacity: 0.8;
} */

/*=================================*/
/* Navigation Styles
/*=================================*/
.cd-nav-trigger {
    position: fixed;
    z-index: 999;
    right: 20px;
    top: 34px;
    height: 54px;
    width: 54px;
    background-color: #2c2c2c;
    border-radius: 50%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}
.cd-nav-trigger .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    z-index: 12;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #ffffff;
}
.cd-nav-trigger .cd-nav-icon::before, .cd-nav-trigger .cd-nav-icon:after {
    /* upper and lower lines of the menu icon */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
    -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
    transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}
.cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0;
}
.cd-nav-trigger circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    /* animate arrow --> from hamburger to arrow */
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s;
    -moz-transition: -moz-transform 0.5s, width 0.5s;
    transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.navigation-is-open .cd-nav-trigger circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 0.4s 0.3s;
    -moz-transition: stroke-dashoffset 0.4s 0.3s;
    transition: stroke-dashoffset 0.4s 0.3s;
}
.cd-nav {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2c2c2c;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
}
.cd-nav .cd-navigation-wrapper {
    /* all navigation content */
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
   
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
 
.cd-nav .cd-primary-nav {
    margin-top: 90px;
}
.cd-nav .cd-primary-nav a {
    font-size: 21px;
    display: inline-block;
}
.cd-nav .cd-primary-nav a.selected {
    color: #ffffff;
}

/*=================================*/
/* Structure
/*=================================*/

.site-container {
    margin: 0 auto;
}

.site-content {
    clear: both;
}


/*=================================*/
/* Media Queries
/*=================================*/

@media only screen and (min-width: 401px) {

		.arrow-nav {
			right: 65px;
		}

    /*===== Titles =====*/
    .site-title {
    		top: 40px;
    		left: 40px;
    }
    .cover p {
    		font-size: 4vh;
		}
    /*===== Navigations =====*/
    .cd-nav-trigger {
        top: 34px;
        right: 40px;
    }
    .cd-nav .cd-navigation-wrapper {
        padding: 40px;
    }
}

@media only screen and (min-width: 600px) {

		.cover #main {
				padding: 0 20vw 0 20vw;
		}
    /*===== Navigations =====*/
    .cd-nav-trigger {
        top: 52px;
        right: 60px;
    }
    .cd-nav .cd-navigation-wrapper {
        padding: 60px 59px 60px calc(1px + 59px);
    }
    .cd-nav .cd-navigation-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-nav .cd-primary-nav {
        margin-top: 160px;
    }
    .cd-nav .cd-primary-nav a {
        font-size: 36px;
    }

}

@media only screen and (min-width: 801px) {

		.arrow-nav {
    		right: 120px;
		}

	  /*===== Titles =====*/
    .site-title{
    		left: 80px;
    		top: 74px;
    }

    /*===== Navigations =====*/
    .cd-nav-trigger {
        top: 74px;
        right: 80px;
    }
    .cd-nav .cd-navigation-wrapper {
        padding: 60px 79px 60px calc(1px + 79px);
    }
    .cd-nav .cd-primary-nav a {
        font-size: 42px;
    }
    #connect { 
    	  font-size: 42px;
    }
    
}

@media only screen and (min-width: 1200px) {

		.arrow-nav {
    		right: 180px;
		}

    /*===== Structures =====*/
    .site-header,
    .page-desc {
        height: 100vh;
    }
    .row {
        margin-top: 120px;
    }
    /*===== Titles =====*/
    .site-title{
    	left: 140px;
    	top: 94px;
    }
    /*===== Navigations =====*/
    .cd-nav-trigger {
        top: 94px;
        right: 140px;
    }
    .cd-nav .cd-navigation-wrapper {
        padding: 60px 140px 60px calc(58px + 140px);
    }
    .cd-nav .cd-primary-nav a {
        font-size: 40px;
    }

    #connect { 
    	  font-size: 54px;
    }

}